src/test/resources/integration/config/sql-server-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:db="http://www.mulesoft.org/schema/mule/db"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
            http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">

    <db:config name="dbConfig">
        <db:mssql-connection host="0.0.0.0" user="sa" password="yourStrong(!)Password">
            <db:connection-properties>
                <db:connection-property key="databaseName" value="database_name"/>
            </db:connection-properties>
        </db:mssql-connection>
    </db:config>

    <flow name="some-test">
        <db:select config-ref="dbConfig">
            <db:sql>
                select * from Persons
            </db:sql>
        </db:select>
        <set-payload value="#[output application/csv --- payload]"/>
        <byte-array-to-string-transformer/>
        <logger level="ERROR" message="#[payload]"/>
        <db:insert config-ref="dbConfig">
            <db:sql>
                INSERT INTO [dbo].[Persons] ([PersonID], [LastName], [FirstName], [Address], [City])
                VALUES (2, 'Caro', 'H', 'Tacuari 1847', 'Burzaco');
            </db:sql>
        </db:insert>
    </flow>

</mule>
